<header class="w3-bar w3-black top-menu">
  <span class="w3-bar-item logo">Inventory</span>
  <a href="/login" class="w3-bar-item w3-button w3-right btn-user" title="Log in"><i class="fas fa-user-alt"></i></a>
</header>