<nav class="w3-row menu-row">
  <p>MENU</p>
  <div class="w3-col menu-item"><div><i class='fas fa-home'></i></div><a href="/">Dashboard</a></div>
  <div class="w3-col menu-item"><div><i class='fas fa-box-open'></i></div><a href="/products">Products</a></div>
  <div class="w3-col menu-item"><div><i class='fas fa-donate'></i></div><a href="/sales">Sales</a></div>
  <div class="w3-col menu-item"><div><i class='fas fa-cart-arrow-down'></i></div><a href="/purchases">Purchases</a></div>
  <div class="w3-col menu-item"><div><i class='fas fa-warehouse'></i></div><a href="/inventory">Inventory</a></div>
  <div class="w3-col menu-item"><div><i class='fas fa-clipboard-list'></i></div> <a href="/pricelists">Pricelists</a></div>
  <div class="w3-col menu-item"><div><i class='fas fa-cogs'></i></div><a href="#">Setting</a></div>
</nav>